.edit-profile-main {
    width: 50vw;
    height: 50vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    margin-left: 25vw;
    margin-top: 25vh;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 1em var(--color1);
    display: none;
}

.edit-profile-main input {
    width: 70%;
    height: 4vh;
    padding: 1%;
    font-size: 17px;
    outline: none;
    margin-bottom: 1vh;
    border-radius: 5px;
    border: 0px transparent;
    background-color: var(--color4);
    color: white;
}

.edit-profile-main button {
    width: 25%;
    height: 5vh;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 0px transparent;
    border-radius: 5px;
    color: white;
    background-color: var(--color4);
    transform: scale(0.9);
}

.edit-profile-main button:hover {
    transform: scale(1);
}

.edit-profile-main .close {
    width: 5%;
    height: 5vh;
    background-color: var(--color4);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 90%;
    margin-bottom: 40vh;
    cursor: pointer;
    transform: scale(0.9);
    border-radius: 5px;
}

.edit-profile-main .close:hover {
    transform: scale(1);
}